/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  /*  background-image: url("https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?w=2000");

  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: "Montserrat", sans-serif;
}
